/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
body {
  font-family: "Roboto", sans-serif; }

.md-display1 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.md-display2 {
  font-size: 45px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.md-display3 {
  font-size: 56px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.md-display4 {
  font-size: 112px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54); }

.md-headline {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.md-title, .appbar-title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.md-subheading {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 1em;
  margin-bottom: 1em; }

.md-body1, .md-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.md-body2 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87); }

.md-subtitle {
  color: rgba(0, 0, 0, 0.54); }

.md-caption {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54); }

.md-code {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87); }

.md-tiny-link {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54); }

@media (min-width: 801px) {
  .md-subheading {
    font-size: 15px; }

  .md-body1, .md-subtitle {
    font-size: 13px; }

  .md-body2 {
    font-size: 13px; } }
.md-button, .md-button--fab, .appbar__button, .star-button {
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none; }

.md-button:focus, .md-button--fab:focus, .appbar__button:focus, .star-button:focus {
  outline: none; }

.md-button--fab {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  background-color: #64FFDA;
  transition: all 0.1s; }
  .md-button--fab:active {
    background-color: #97ffe6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
  .md-button--fab .material-icons {
    color: rgba(0, 0, 0, 0.54); }

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.appbar {
  background-color: #ff9800;
  height: 56px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.appbar-title {
  color: white;
  margin-left: 16px; }

.appbar-controls {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 4px; }

.appbar__button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: background-color 0.150s; }
  .appbar__button .material-icons {
    color: white; }

.appbar__button:active {
  background-color: rgba(255, 255, 255, 0.3); }

.button--new {
  position: fixed;
  bottom: 16px;
  right: 16px; }
  .button--new .material-icons {
    width: 100%;
    height: 100%; }

.main-container {
  position: relative;
  padding-top: 56px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5; }

.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  padding: 8px;
  max-width: 800px; }

.fact {
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  border-radius: 2px;
  display: flex;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.fact__action-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px; }

.fact__action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.star-button.star-button--starred .material-icons {
  color: #fdd835; }
.star-button .material-icons {
  color: rgba(0, 0, 0, 0.54); }

.fact__content-container {
  display: flex;
  flex-direction: column; }

@media (min-width: 801px) {
  .appbar {
    height: 64px; }

  .main-container {
    padding-top: 64px; }

  .main-content {
    padding: 24px; }

  .fact {
    padding: 16px; } }

/*# sourceMappingURL=style.css.map */
