$primary-color: #ff9800; //orange-500
$primary-color--dark: #f57c00; //orange-700
$accent-color: #40c4ff; //blue-[1-9]{3}

@import "shadows";
@import "typography";
@import "buttons";

html,body {
    margin: 0;
    padding: 0;
}

.appbar {
    background-color: $primary-color;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include card(1);
}

.appbar-title {
  @extend .md-title;
  color: white;
  margin-left: 16px;
}

.appbar-controls {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4px;
}

.appbar__button {
    @extend .md-button;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color 0.150s;
    .material-icons {
        color: white;
    }
}

.appbar__button:active {
    background-color: rgba(255,255,255, 0.3);
}

@media (min-width: 801px) {
    .appbar {
        height: 64px;
    }
}
